[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "designr"]
	path = designr
	url = https://github.com/mmrabe/designr
[submodule "hypr"]
	path = hypr
	url = https://github.com/mmrabe/hypr
